analytics-service/bin/Debug/net8.0/analytics-service.deps.json
analytics-service/bin/Debug/net8.0/analytics-service.dll
analytics-service/bin/Debug/net8.0/analytics-service.exe
analytics-service/bin/Debug/net8.0/analytics-service.pdb
analytics-service/bin/Debug/net8.0/analytics-service.runtimeconfig.json
analytics-service/bin/Debug/net8.0/analytics-service.staticwebassets.endpoints.json
analytics-service/bin/Debug/net8.0/appsettings.Development.json
analytics-service/bin/Debug/net8.0/appsettings.json
analytics-service/bin/Debug/net8.0/Humanizer.dll
analytics-service/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
analytics-service/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.dll
analytics-service/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
analytics-service/bin/Debug/net8.0/Microsoft.CodeAnalysis.dll
analytics-service/bin/Debug/net8.0/Microsoft.CodeAnalysis.Workspaces.dll
analytics-service/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
analytics-service/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Design.dll
analytics-service/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
analytics-service/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
analytics-service/bin/Debug/net8.0/Microsoft.Extensions.DependencyModel.dll
analytics-service/bin/Debug/net8.0/Microsoft.OpenApi.dll
analytics-service/bin/Debug/net8.0/Mono.TextTemplating.dll
analytics-service/bin/Debug/net8.0/Newtonsoft.Json.dll
analytics-service/bin/Debug/net8.0/Npgsql.dll
analytics-service/bin/Debug/net8.0/Npgsql.EntityFrameworkCore.PostgreSQL.dll
analytics-service/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
analytics-service/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
analytics-service/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
analytics-service/bin/Debug/net8.0/System.CodeDom.dll
analytics-service/bin/Debug/net8.0/System.Composition.AttributedModel.dll
analytics-service/bin/Debug/net8.0/System.Composition.Convention.dll
analytics-service/bin/Debug/net8.0/System.Composition.Hosting.dll
analytics-service/bin/Debug/net8.0/System.Composition.Runtime.dll
analytics-service/bin/Debug/net8.0/System.Composition.TypedParts.dll
analytics-service/bin/Debug/net8.0/System.Net.WebSockets.WebSocketProtocol.dll
analytics-service/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
analytics-service/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
analytics-service/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.resources.dll
analytics-service/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
analytics-service/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
analytics-service/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
analytics-service/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.resources.dll
analytics-service/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
analytics-service/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
analytics-service/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
analytics-service/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.resources.dll
analytics-service/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
analytics-service/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
analytics-service/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
analytics-service/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.resources.dll
analytics-service/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
analytics-service/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
analytics-service/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
analytics-service/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.resources.dll
analytics-service/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
analytics-service/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
analytics-service/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
analytics-service/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.resources.dll
analytics-service/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
analytics-service/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
analytics-service/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
analytics-service/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.resources.dll
analytics-service/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
analytics-service/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
analytics-service/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
analytics-service/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.resources.dll
analytics-service/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
analytics-service/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
analytics-service/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
analytics-service/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
analytics-service/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
analytics-service/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
analytics-service/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
analytics-service/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.resources.dll
analytics-service/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
analytics-service/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
analytics-service/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
analytics-service/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.resources.dll
analytics-service/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
analytics-service/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
analytics-service/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
analytics-service/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
analytics-service/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
analytics-service/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
analytics-service/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
analytics-service/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
analytics-service/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
.idea/.gitignore
.idea/modules.xml
.idea/train-scraper.iml
.idea/vcs.xml
.idea/inspectionProfiles/Project_Default.xml
analytics-service/obj/analytics-service.csproj.EntityFrameworkCore.targets
analytics-service/obj/analytics-service.csproj.nuget.dgspec.json
analytics-service/obj/analytics-service.csproj.nuget.g.props
analytics-service/obj/analytics-service.csproj.nuget.g.targets
analytics-service/obj/project.assets.json
analytics-service/obj/project.nuget.cache
analytics-service/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
analytics-service/obj/Debug/net8.0/analytic.E2351A53.Up2Date
analytics-service/obj/Debug/net8.0/analytics-service.AssemblyInfo.cs
analytics-service/obj/Debug/net8.0/analytics-service.AssemblyInfoInputs.cache
analytics-service/obj/Debug/net8.0/analytics-service.assets.cache
analytics-service/obj/Debug/net8.0/analytics-service.csproj.AssemblyReference.cache
analytics-service/obj/Debug/net8.0/analytics-service.csproj.CoreCompileInputs.cache
analytics-service/obj/Debug/net8.0/analytics-service.csproj.FileListAbsolute.txt
analytics-service/obj/Debug/net8.0/analytics-service.dll
analytics-service/obj/Debug/net8.0/analytics-service.GeneratedMSBuildEditorConfig.editorconfig
analytics-service/obj/Debug/net8.0/analytics-service.genruntimeconfig.cache
analytics-service/obj/Debug/net8.0/analytics-service.GlobalUsings.g.cs
analytics-service/obj/Debug/net8.0/analytics-service.MvcApplicationPartsAssemblyInfo.cache
analytics-service/obj/Debug/net8.0/analytics-service.MvcApplicationPartsAssemblyInfo.cs
analytics-service/obj/Debug/net8.0/analytics-service.pdb
analytics-service/obj/Debug/net8.0/analytics-service.sourcelink.json
analytics-service/obj/Debug/net8.0/apphost.exe
analytics-service/obj/Debug/net8.0/staticwebassets.build.endpoints.json
analytics-service/obj/Debug/net8.0/staticwebassets.build.json
analytics-service/obj/Debug/net8.0/ref/analytics-service.dll
analytics-service/obj/Debug/net8.0/refint/analytics-service.dll
analytics-service/obj/Debug/net8.0/staticwebassets/msbuild.build.analytics-service.props
analytics-service/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.analytics-service.props
analytics-service/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.analytics-service.props
