# Point pip to the PyTorch nightly repository for CUDA 12.8 (RTX 50-series support)
--extra-index-url https://download.pytorch.org/whl/nightly/cu128

# PyTorch Core
torch
torchvision
torchaudio

# Hugging Face Ecosystem
transformers
accelerate

#Lab2:
triton